services:
  backend:
    build: ./backend
    container_name: url_backend
    image: url-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - redis
    restart: always
  postgres:
    image: postgres:15
    container_name: url_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: urls
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
  redis:
    image: redis:7
    container_name: url_redis
    restart: always
volumes:
  postgres_data: